
        
    <div class="parallax-container">
      <div class="parallax">
        <img src="images/bg_image3.jpg" />
      </div>
    </div>

    <footer class="page-footer orange">
      <div class="container">
        <div class="row">
          <div class="col s6">
            <h5 class="white-text">About this site</h5>
            <p class="white-text">Want to eat what everyone else is eating? See what everyone else is posting? Let BuzzBites guide you to your next stop!</p>
          </div>
          <div class="col s3 offset-s3">
            <ul class="white-text">
              <li class="footer-list" id="scroll-top"><a href="top">Top</a></li>
              <li class="footer-list" id="signUpClick"><a>Sign Up</a></li>
              <li class="footer-list" id="logoutClick"><a>Log Out</a></li>
              <li class="footer-list" id="loginClick"><a>Log In</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="footer-copyright">
        <div class="container">
          Copyright &copy; 2018 BuzzBites<br>
          Mekesia Brown
        </div>
      </div>
    </footer>
    </body>
    </html>