<!DOCTYPE html>
<html lang="en">
<head>
	<title>BuzzBites</title>
	<meta charset="UTF-8" />
	<meta name="author" content="Mekesia Brown" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="keywords" content="Restaurant, social media, reviews, neighborhood, eateries, zipcode, city, state" />
	<meta name="description" content="BuzzBites - A SPA using various APIs to build an app that uses a location to return a list of amazing restaurants" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	<script type="text/javascript" src="javascripts/materialize_animations.js"></script>
	<script type="text/javascript" src="javascripts/getlocation.js"></script>
	<script type="text/javascript" src="javascripts/accordion.js"></script>
	<link rel="shortcut icon" href="images/favicon.png" />
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css" />
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" />
	<link rel="stylesheet" type="text/css" href="stylesheets/styles.css" />
</head>

<body class="orange lighten-5">
		<nav class="orange">
			<div class="navbar-wrapper container">
				<a href="http://localhost:8080/" class="brand-logo">BuzzBites</a>
				<ul class="right hide-on-small-only">
					<li id="signUpClick"><a>Sign Up</a></li>
					<li id="logoutClick"><a>Log Out</a></li>
					<li id="loginClick"><a>Log In</a></li>
				</ul>
				<!-- <div id="navlinkDivCenter"> -->
				<ul id="mobile-navlink" class="hide-on-med-and-up">
					<li id="signUpClick"><a>Sign Up</a></li>
					<li id="logoutClick"><a>Log Out</a></li>
					<li id="loginClick"><a>Log In</a></li>
				</ul>
				<!-- </div> -->
			</div>
		</nav>

		<div class="parallax-container">
			<div class="parallax">
				<img src="images/bg_image2.jpg" />
			</div>
		</div>
		<br/>
		
		  

		

		